<div
  style="background: url('assets/bg.png') no-repeat center top / cover"
  class="relative px-[60px] py-[30px] bg-[#F5F5F5] min-h-screen"
>
  <div
    class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-15 z-0"
  ></div>
  <div class="z-20 text-white relative">
    <h1 class="text-[30px] font-dinpro_bold">Boma Yangu</h1>
    <p>Powered By</p>
  </div>
  <img src="assets/logo.png" class="z-20 relative h-[30px]" alt="KCB Bank" />
  <div class="z-20 relative">
    <ng-content></ng-content>
  </div>
</div>
