@if(parentFormGroup){
<div [formGroup]="parentFormGroup">
  <div
    class="flex items-center justify-center bg-transparent"
    [style.border-color]="hasErrors ? 'red' : ''"
    [class]="containerClasses"
  >
    <input
      [formControlName]="controlInputName"
      [style.border-color]="hasErrors ? 'red' : ''"
      [class]="twClasses"
      [placeholder]="placeholder"
      [type]="passwordVisible ? 'text' : 'password'"
      [name]="controlInputName"
      [id]="controlInputName"
      [maxlength]="maxLength"
      oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    />
  </div>
</div>
}
